/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wpadcenter-adgroup-row{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;	
}
.wpadcenter-ad-spacing{
	padding:5px;
}
.aligncenter .wpadcenter-adgroup-row div{
	margin:0 auto;
}
#wpadcenter_ad {
	display: block;
}
.wpadcenter-single-ad-default{
	display:flex;
	align-items:center;
}
.wpadcenter-single-ad-default div{
	margin:0 auto;
}
