/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wpadcenter-adgroup__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  clear: both;
}

.wpadcenter-activebutton {
  border: 1px solid;
  border-radius: 3px;
  padding: 18px 9px;
}

.wpadcenter-align-container .dashicon {
  padding-left: 3px;
}

.wpadcenter-async-select input[type=text]:focus {
  box-shadow: none;
}

.Wpadcenter-gutenberg-container .components-placeholder {
  background-color: #F3F6FF;
}

.Wpadcenter-gutenberg-container {
  z-index: 20;
  display: block;
  clear: both;
}

.wpadcenter-aligncenter.wpadcenter-adgroup__row {
  display: flex;
  justify-content: center;
}

.wpadcenter-alignright.wpadcenter-adgroup__row {
  justify-content: flex-end;
}

.wpadcenter-alignleft.wpadcenter-adgroup__row {
  justify-content: flex-start;
}

#wpadcenter_ad {
  display: block;
}

.wpadcenter-adgroup-widget-container {
  overflow: hidden;
}

/*Gutenberg block css*/
.wpadcenter-maxwidth-top, .wpadcenter-maxwidth-bottom, .wpadcenter-order-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wpadcenter-200x200, .wpadcenter-240x400, .wpadcenter-250x250, .wpadcenter-250x360, .wpadcenter-300x250, .wpadcenter-336x280, .wpadcenter-580x400, .wpadcenter-120x600, .wpadcenter-160x600, .wpadcenter-300x600, .wpadcenter-300x1050, .wpadcenter-468x60, .wpadcenter-728x90, .wpadcenter-930x180, .wpadcenter-970x90, .wpadcenter-970x250, .wpadcenter-980x120, .wpadcenter-120x60, .wpadcenter-120x90, .wpadcenter-125x125, .wpadcenter-300x50, .wpadcenter-320x50, .wpadcenter-320x100 {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  justify-content: center;
  width: 100%;
}
.wpadcenter-200x200 img, .wpadcenter-240x400 img, .wpadcenter-250x250 img, .wpadcenter-250x360 img, .wpadcenter-300x250 img, .wpadcenter-336x280 img, .wpadcenter-580x400 img, .wpadcenter-120x600 img, .wpadcenter-160x600 img, .wpadcenter-300x600 img, .wpadcenter-300x1050 img, .wpadcenter-468x60 img, .wpadcenter-728x90 img, .wpadcenter-930x180 img, .wpadcenter-970x90 img, .wpadcenter-970x250 img, .wpadcenter-980x120 img, .wpadcenter-120x60 img, .wpadcenter-120x90 img, .wpadcenter-125x125 img, .wpadcenter-300x50 img, .wpadcenter-320x50 img, .wpadcenter-320x100 img {
  height: auto;
  width: 100%;
  max-width: 100% !important;
}
.wpadcenter-ad-inner {
  width: 100%;
}

.wpadcenter-alignright {
  float: right;
  margin-left: 10px;
}

.wpadcenter-alignleft {
  float: left;
  margin-right: 10px;
}

.wpadcenter-aligncenter {
  display: block;
  margin: 10px auto;
}

.wpadcenter-200x200 {
  max-width: 200px;
  height: 200px;
  width: 200px;
}
.wpadcenter-200x200:not(.wpadcenter-maxwidth) {
  max-width: 200px !important;
}
.wpadcenter-240x400 {
  max-width: 240px;
  height: 400px;
  width: 240px;
}
.wpadcenter-240x400:not(.wpadcenter-maxwidth) {
  max-width: 240px !important;
}
.wpadcenter-250x250 {
  max-width: 250px;
  height: 250px;
  width: 250px;
}
.wpadcenter-250x250:not(.wpadcenter-maxwidth) {
  max-width: 250px !important;
}
.wpadcenter-250x360 {
  max-width: 250px;
  height: 360px;
  width: 250px;
}
.wpadcenter-250x360:not(.wpadcenter-maxwidth) {
  max-width: 250px !important;
}
.wpadcenter-300x250 {
  max-width: 300px;
  height: 250px;
  width: 300px;
}
.wpadcenter-300x250:not(.wpadcenter-maxwidth) {
  max-width: 300px !important;
}
.wpadcenter-336x280 {
  max-width: 336px;
  height: 280px;
  width: 336px;
}
.wpadcenter-336x280:not(.wpadcenter-maxwidth) {
  max-width: 336px !important;
}
.wpadcenter-580x400 {
  max-width: 580px;
  height: 400px;
  width: 580px;
}
.wpadcenter-580x400:not(.wpadcenter-maxwidth) {
  max-width: 580px !important;
}
.wpadcenter-120x600 {
  max-width: 120px;
  height: 600px;
  width: 120px;
}
.wpadcenter-120x600:not(.wpadcenter-maxwidth) {
  max-width: 120px !important;
}
.wpadcenter-160x600 {
  max-width: 160px;
  height: 600px;
  width: 160px;
}
.wpadcenter-160x600:not(.wpadcenter-maxwidth) {
  max-width: 160px !important;
}
.wpadcenter-300x600 {
  max-width: 300px;
  height: 600px;
  width: 300px;
}
.wpadcenter-300x600:not(.wpadcenter-maxwidth) {
  max-width: 300px !important;
}
.wpadcenter-300x1050 {
  max-width: 300px;
  height: 1050px;
  width: 300px;
}
.wpadcenter-300x1050:not(.wpadcenter-maxwidth) {
  max-width: 300px !important;
}
.wpadcenter-468x60 {
  max-width: 468px;
  height: 60px;
  width: 468px;
}
.wpadcenter-468x60:not(.wpadcenter-maxwidth) {
  max-width: 468px !important;
}
.wpadcenter-728x90 {
  max-width: 728px;
  height: 90px;
  width: 728px;
}
.wpadcenter-728x90:not(.wpadcenter-maxwidth) {
  max-width: 728px !important;
}
.wpadcenter-930x180 {
  max-width: 930px;
  height: 180px;
  width: 930px;
}
.wpadcenter-930x180:not(.wpadcenter-maxwidth) {
  max-width: 930px !important;
}
.wpadcenter-970x90 {
  max-width: 970px;
  height: 90px;
  width: 970px;
}
.wpadcenter-970x90:not(.wpadcenter-maxwidth) {
  max-width: 970px !important;
}
.wpadcenter-970x250 {
  max-width: 970px;
  height: 250px;
  width: 970px;
}
.wpadcenter-970x250:not(.wpadcenter-maxwidth) {
  max-width: 970px !important;
}
.wpadcenter-980x120 {
  max-width: 980px;
  height: 120px;
  width: 980px;
}
.wpadcenter-980x120:not(.wpadcenter-maxwidth) {
  max-width: 980px !important;
}
.wpadcenter-120x60 {
  max-width: 120px;
  height: 60px;
  width: 120px;
}
.wpadcenter-120x60:not(.wpadcenter-maxwidth) {
  max-width: 120px !important;
}
.wpadcenter-120x90 {
  max-width: 120px;
  height: 90px;
  width: 120px;
}
.wpadcenter-120x90:not(.wpadcenter-maxwidth) {
  max-width: 120px !important;
}
.wpadcenter-125x125 {
  max-width: 125px;
  height: 125px;
  width: 125px;
}
.wpadcenter-125x125:not(.wpadcenter-maxwidth) {
  max-width: 125px !important;
}
.wpadcenter-300x50 {
  max-width: 300px;
  height: 50px;
  width: 300px;
}
.wpadcenter-300x50:not(.wpadcenter-maxwidth) {
  max-width: 300px !important;
}
.wpadcenter-320x50 {
  max-width: 320px;
  height: 50px;
  width: 320px;
}
.wpadcenter-320x50:not(.wpadcenter-maxwidth) {
  max-width: 320px !important;
}
.wpadcenter-320x100 {
  max-width: 320px;
  height: 100px;
  width: 320px;
}
.wpadcenter-320x100:not(.wpadcenter-maxwidth) {
  max-width: 320px !important;
}
