@font-face {
  font-family: 'adcentericon';
  src:  url('../fonts/adcentericon.eot?n9kd3j');
  src:  url('../fonts/adcentericon.eot?n9kd3j#iefix') format('embedded-opentype'),
    url('../fonts/adcentericon.ttf?n9kd3j') format('truetype'),
    url('../fonts/adcentericon.woff?n9kd3j') format('woff'),
    url('../fonts/adcentericon.svg?n9kd3j#adcentericon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adcentericon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adcenter:before {
  content: "\e900";
}
