/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpadcenter-time-container{
	margin: 5px 0 10px 0;
	width:100%;
	display:flex;
}
.wpadcenter-schedule-ok{
	margin-left:20px !important;
}
.wpadcenter-date-input{
	width:100%;
}
.wpadcenter-time-input{
	width:100%;
}
.wpadcenter-left-cell {
	width: 20%;
	padding: 10px 10px;
}
.wpadcenter-right-cell {
	width: 80%;
	padding: 10px 10px;
}
.wpadcenter-right-cell > textarea {
	width: 100%;
}
.wpadcenter-table tr td {
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.wpadcenter-table {
	width:100%;
	border-collapse: collapse;
}
.wpadcenter-table-tr {
	vertical-align: top;
}
.wpadcenter-schedule-ok{
   margin-left:20px !important;
}
.wpadcenter-date-input{
   width:100%;
}
.wpadcenter-time-input{
   width:100%;
}
.wpadcenter-left-cell {
  width: 20%;
  padding: 10px 10px;
}
.wpadcenter-right-cell {
  width: 80%;
  padding: 10px 10px;
}
.wpadcenter-right-cell > textarea {
  width: 100%;
}
.wpadcenter-table tr td {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.wpadcenter-table {
  width:100%;
  border-collapse: collapse;
}
.wpadcenter-table-tr {
  vertical-align: top;
}
.edit-post-layout__metaboxes {
  padding: 0 !important;
}
.edit-post-meta-boxes-area {
  margin: 0 !important;
}
#geo_countries, #geo_cities {
	margin-top: 10px;
}
#geo_countries .geo_countries,
#geo_countries .select2-container,
#geo_cities .geo_cities {
	width: 100% !important;
}
.wpadcenter-amp-delete-attr-button{
	height:30px;
	cursor:pointer;
	border-radius:5px;
	border:0;
}
.wpadcenter-amp-parameter-input {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wpadcenter-amp-add-attr-btn .dashicons-plus {
	margin-top:5px;
	margin-right:8px;
}