/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css?family=Lato');
#wpadcenter_settings_form {
	width: 100%;
	display: flex;
	justify-content: center;
}
#wpwrap {
	background: #F3F6FF;
}

.card {
	padding: 0;
	max-width: 100%;
}

label {
	margin: 0;
	margin-right: 10px;
}
.ad-toggle {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.form-control{
	color: #222;
}

.wpadcenter-margin-mod {
	margin-bottom: 6px;
}
.auto_refresh_enabled {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.auto_refresh_enabled label {
	margin-bottom: 5px;
}

.form-label {
	margin: 10px 0px 7px 0px;
}

.header-scripts {
	margin-top: 0px;
}

.enable_scripts_enabled > label {
	margin-right: 10px;
}
.c-icon {
	vertical-align: text-top;
	margin-left: -5px;
}

.enable_scripts_enabled {
	margin-top: 20px;
}

.form-control {
	width: 100%;
}
.enable_ads_txt_enabled, .enable_adblock_detector, .enable_geo_targeting {
	margin-top: 20px;
}
.enable_geo_targeting .maxmind_key_errors > p {
	padding: 0;
	margin: 0;
}
.ads-txt-label {
	margin-bottom: 7px;
	margin-right: 10px;
}
#ads_txt_content {
	width: 100%;
	margin-bottom: 1em;
}
.ads_txt_spinner {
	display:block;
	margin: 10px 0px;
}
.geo_targeting_spinner {
	display:block;
	margin: 10px 0px;
}
.wpadcenter-p-margin-mod {
	margin-top: 10px;
}

.wpadcenter-label-margin-bottom {
	margin-bottom: 10px;
}
#wpcontent {
	background: #F3F6FF;
}

.notify_msg {
	position: fixed;
	width: 300px;
	padding: 15px;
	color: #fff;
	right: 60px;
	top: 0px;
	opacity: 0;
	box-shadow: 0px 2px 2px #ccc;
	border-radius: 5px;
}
.c-icon {
	align-self: baseline;
}

#app {
	width: 100%;
}
#wpadcenter_tabs > div:nth-child(1) {
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	border-top: 1px solid #d5e2ed;
	border-bottom: 1px solid #d5e2ed;
	padding: 16px 0;
	
}

#wpadcenter_save {
	border-radius: 0.25rem;
}
#wpadcenter_tabs > div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}
#wpadcenter_tabs > div:nth-child(2) > .tab-content {
	width: 750px;
}
#wpadcenter_tabs > div:nth-child(1) > ul {
	width: 750px;	
}

.nav-tabs {
	border: none;
}
.nav-link {
	padding: 0;
	padding-top: 17px;
	padding-bottom: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: none;
	background: none;
	border-bottom: 2px solid #39f;
	color: #39f;
	font-weight: 500;
}

.nav-tabs .nav-link {
	border: none;
}

.nav-link:hover {
	border: none;
	color: #39f;
	text-decoration: none !important;
}
.nav-link {
	color: #3c434a;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
#app {
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #3c434a;
}

#app path {
	opacity: 0.7;
}

a {
	transition: none;
	transition-property: none;
}

a:focus {
	box-shadow: none;
}

.adc-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.adc-nav-inner {
	width: 750px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wpadcenter_save {
	padding: 10px 20px;
	position: relative;
}
.card {
	border-color: #d5e2ed;
}
.wpadcenter-notice-floating-bar {
	width: 100%;
	background: #4e5c66;
	color: #fff;
	padding: 10px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.floating-bar-close {
	color: white;
	transform: rotate(45deg);
}

.floating-bar-close:hover {
	fill: #fff;
}

.card-header, .vs__dropdown-toggle, .form-control {
	border-color: #d5e2ed;
}
.wrap {
	margin: 0;
}
#wpcontent {
	padding: 0;
}

.button--loading .wpadcenter_save-text {
	visibility: hidden;
}
.button--loading::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
	vertical-align: text-bottom;
	background-color: currentColor;
	border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	opacity: 0.1;
    animation: spinner-grow 0.75s linear infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
.contentAdsRules {
	padding: 20px;
	background: #e9f5f8;
	margin: 10px 0px;
}

.new_ab_test {
	padding: 20px;
	background: #e9f5f8;
	margin: 10px 0px;
}

.new_ab_test input{
	color: #222;
}

.content-ads-alignment {
	display: flex;
	overflow: hidden;
}
  
.content-ads-alignment input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
  
.content-ads-alignment label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}
  
.content-ads-alignment label:hover {
	cursor: pointer;
}
  
.content-ads-alignment input:checked + label {
	background-color: #4682B4;
	box-shadow: none;
	color: white;
}
  
.content-ads-alignment label:first-of-type {
	border-radius: 4px 0 0 4px;
}
  
.content-ads-alignment label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.contentAdsRules .vs__dropdown-toggle {
	background: white;
}

.postition-content {
	display: grid;
	grid-template-columns: 1fr 1fr 2.3fr;
	grid-gap: 20px;
	margin-bottom: 5px;
}

.postition-content input[type="number"] {
	border: 1px solid rgba(60,60,60,.26);
}

.placement_name input[type="text"] {
	border: 1px solid rgba(60,60,60,.26);
	min-height: 30px;
	width: 50%;
	padding: 0 5px;
}

.contentAdsRules label {
	margin-bottom: 5px;
}

.rule {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.enable_notifications_enabled {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.error{
	color: red;
	margin-top: 6px;
}

.enable_notifications_enabled label {
	display: initial;
	margin-right: 5px;
}

.contentAdsRules .rule_label label {
	margin: 0;
	margin-left: 10px;
}

.vs__close-indicator-wp {
	transform: rotate(180deg) scale(1);
}

.rule:hover:not(.delete_rule) svg {
	fill: black;
}

.delete_test{
	width: 100px;
	float: right;
	margin-bottom: 10px;
}
.test{
	position: relative;
    margin-top: 20px;
}
#test-placement{
	background-color: #fff;
}
.enable_advertisers_enabled .c-callout {
	margin: 0;
}

.emailAlertInfo {
	font-size: 13px;
}
.wpadcenter-settings-secondary-heading{
	margin-top:20px;
}
.wpadcenter-link-prefix-textbox:read-only {
 background-color: #fff;
}
.wpadcenter-link-prefix-textbox:read-only:hover {
	cursor:no-drop;
}

.radio-group {
	display: flex;
	align-items: center;
}

.radio-group > label {
	margin-left: 10px;
}

.radio-group > input {
	vertical-align: middle;
}

.cookie_options {
	display: flex;
	align-items: center;
}

.cookie_method {
	margin-left: 25px;
}

.cookie_options .form-group {
	margin: 0;
	margin-right: 10px;
}

.adc-save {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.adc-save-button {
	width: 750px;
	position: relative;
}

.wpadcenter_save {
	float: right;
}

.wpadcenter-email-frequency-message {
	margin-top: 6px;
}

#wpadcenter_tabs .nav-item {
	margin: 0;
}

#wpadcenter_tabs .nav-pills .nav-link.active {
	background: #39f;
}