/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpadcenter-time-container{
	margin: 5px 0 10px 0;
	width:100%;
	display:flex;
}
.wpadcenter-schedule-ok{
	margin-left:20px !important;
}
.wpadcenter-date-input{
	width:100%;
}
.wpadcenter-time-input{
	width:100%;
}
.wpadcenter-left-cell {
	width: 20%;
	padding: 10px 10px;
}
.wpadcenter-right-cell {
	width: 80%;
	padding: 10px 10px;
}
.wpadcenter-right-cell > textarea {
	width: 100%;
}
.wpadcenter-table tr td {
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.wpadcenter-table {
	width:100%;
	border-collapse: collapse;
}
.wpadcenter-table-tr {
	vertical-align: top;
}
.wpadcenter-schedule-ok{
   margin-left:20px !important;
}
.wpadcenter-date-input{
   width:100%;
}
.wpadcenter-time-input{
   width:100%;
}
.wpadcenter-left-cell {
  width: 20%;
  padding: 10px 10px;
}
.wpadcenter-right-cell {
  width: 80%;
  padding: 10px 10px;
}
.wpadcenter-right-cell > textarea {
  width: 100%;
}
.wpadcenter-table tr td {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.wpadcenter-table {
  width:100%;
  border-collapse: collapse;
}
.wpadcenter-table-tr {
  vertical-align: top;
}
.edit-post-layout__metaboxes {
  padding: 0 !important;
}
.edit-post-meta-boxes-area {
  margin: 0 !important;
}
#target_ads_by {
	margin-top: 10px;
}
#include_location .location-options {
	width: 100% !important;
}
#geo_countries, #geo_cities {
	margin-top: 10px;
}
#geo_countries .geo_countries,
#geo_countries .select2-container,
#geo_cities .geo_cities {
	width: 100% !important;
}
#lazy_load_offset {
	margin-top: 10px;
}
.wpadcenter-lazy-load-offset {
	font-weight: bold !important;
	margin-top: 10px;
}
.wpadcenter-lazy-load-label {
	margin-bottom: 0 !important;
}
.wpadcenter-amp-delete-attr-button{
	height:30px;
	cursor:pointer;
	border-radius:5px;
	border:0;
}
.wpadcenter-amp-parameter-input {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wpadcenter-amp-add-attr-btn .dashicons-plus {
	margin-top:5px;
	margin-right:8px;
}
.wpadcenter-text-ad-label {
	display:block;
	margin-bottom: 7px;
}
.wpadcenter-additional-rel-tag-container,.wpadcenter-additional-css-class-container{
	margin-top:10px;
	margin-bottom:10px;
}
.wpadcenter-meta-spacing{
	margin-top:4px;
}

.wpadcenter-tooltip {
	position: relative;
	display: inline-block;
  }
  /* Tooltip text */
  .wpadcenter-tooltip .wpadcenter-tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1001;
	top: -5px;
	right: 105%;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .wpadcenter-tooltip:hover .wpadcenter-tooltiptext {
	visibility: visible;
  }
  .wpadcenter-tooltip .dashicons-info {
	  margin-top:6px;
	  font-size: 15px;
  }

  .wpadcenter-adunit-list {
	  width: 100%;
	  max-height: 600px;
	  overflow: auto;
  }

  .wpadcenter-inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.wpadcenter-inputfile + label {
	color: white;
	background-color: green;
	display: inline-block;
	padding:5px;
}

.wpadcenter-inputfile:disabled + label{
	background-color: black;

}

.wpadcenter-html5-top-container{
	margin-bottom:10px;
	display: flex;
}
.wpadcenter-delete-icon{
	width: 15px;
	cursor: pointer;
}
.wpadcenter-active-filename{
	margin: 0 5px;
	display:flex;
	align-items:center;
}
.wpadcenter-delete-icon-container{
	display: flex;
	align-items: center;
}
.wpadcenter-html5-upload-error{
	display: block;
	color: red;
	margin-top: 5px;
}

#wpadcenter_video_filename_close::before {
	content: '\274C';
	color: #000;
	font-size: 12px;
	margin-left: -3px;
	margin-right: 7px;
}

#wpadcenter_video_upload_container{
	display: flex;
	flex-direction: row;
}

#wpadcenter_video_filename_container{
	padding-top: 6px;
	padding-left: 6px;
}
#wpadcenter_video_filename{
	padding-right:4px;
}
#wpadcenter_video_autoplay{
	margin-top:2px;
}
#wpadcenter-blocks-widgets-deprecation-warning{
	display: flex;
	justify-content: space-between;
	line-height: 1.4;
	padding: 11px 15px;
	font-size: 14px;
	margin: 25px 20px 0 2px;
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	border-left-color: #d0342c;
}
#wpadcenter-blocks-widgets-deprecation-warning>p {
	margin: 0px;
	font-weight: bold;
}

.wpadcenter-deprecation-notice {
	background: 0 0;
	color: #787c82;
	display: block;
	font: normal 16px/20px dashicons;
	height: 20px;
	text-align: center;
	width: 20px;
	border: none;
}

.wpadcenter-deprecation-notice .dashicons{
	font-size: 15px;
	height: 15px;
	width: 15px;
}

.wpadcenter-deprecation-notice:hover {
	color: #d63638;
	cursor: pointer;
}
